body {
    font-size: 50px;
    font-style: oblique;
    margin: 40px;
    text-align: center;
    background-color:rgb(229, 213, 218);
    }
    header {
        padding: 35px;
    }
    button {
        background-color:white;
        border-color:rgb(40, 39, 39);
        width:200px;
        height: 80px;
        font-size:x-large;
        font-style: oblique;
        border-radius: 14px;
        transition-duration: 0.4s;
        color: rgb(40, 39, 39);
      }
      
      button:hover {
        background-color:grey;
        color: white;
      }
      p1{
        font-size: 25px;
        font-style: oblique;
        position: fixed;
        left: 800px;


      }